<ion-header>
  <ion-toolbar color="primary">
    <ion-title>รายละเอียดสินค้า</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item"></ion-card>
  <img [src]="item.imageURL" />
  <ion-card-header>
    <ion-card-title>{{ item.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>ราคา {{ item.price}} บาท</p>
    <p>{{ item.detail}}</p>
  </ion-card-content>
</ion-content>
